---
title: "Docentes"
layout: default
permalink: "/docentes.html"
---

<div class="container">

  <!-- TITULARES -->
  <div style="padding: 10px 0px">
    <h5 class="font-weight-bold spanborder"><span>Profesores Titulares</span></h5>
    <div class="row" style="padding-bottom: 10px">
    {% for docente in site.data.docentes %}
      {% if docente[1].cargo == "PTI" %}
      <div class="col-lg-6 mb-4">
        <div class="p-4 border rounded">
          <div class="row">
            <div class="col-md-3 mb-4 mb-md-0">
              <img alt="{{ docente[1].name }}" src="{{site.baseurl}}/{{ docente[1].avatar }}" class="rounded-circle" height="80" width="80">
            </div>
            <div class="col-md-9">
              <h6 class="text-dark mb-0"> {{ docente[1].nombre }} </h6>
              <div class="excerpt">{{ docente[1].intereses }}</div>
              <div class="icon-block mt-3 d-flex justify-content-between">
                <div>
                  <a target="_blank" href="mailto:{{ docente[1].email }}">
                    <i class="fa fa-envelope text-muted" aria-hidden="true"></i>
                  </a> &nbsp;
                  {% if docente[1].site %}
                    <a target="_blank" href="{{ docente[1].site }}">
                      <i class="fa fa-globe text-muted" aria-hidden="true"></i>
                    </a> &nbsp;
                  {% endif %}
                  {% if docente[1].twitter %}
                    <a target="_blank" href="{{ docente[1].twitter }}">
                      <i class="fab fa-twitter text-muted" aria-hidden="true"></i>
                    </a> &nbsp;
                  {% endif %}
                  {% if docente[1].instagram %}
                    <a target="_blank" href="{{ docente[1].instagram }}">
                      <i class="fab fa-instagram text-muted" aria-hidden="true"></i>
                    </a> &nbsp;
                  {% endif %}
                  {% if docente[1].posts %}
                    <a href="{{site.baseurl}}/author-{{docente[1].posts}}.html">
                      <i class="fa fa-user-circle text-muted" aria-hidden="true"></i>
                      <!-- <small class="d-inline-block mt-1 mb-3 font-weight-normal">(View Posts)</small> -->
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>

  <!-- ASOCIADOS -->
  <div style="padding: 10px 0px">
    <h5 class="font-weight-bold spanborder"><span>Profesores Asociados</span></h5>
    <div class="row" style="padding-bottom: 10px">
    {% for docente in site.data.docentes %}
      {% if docente[1].cargo == "PAS" %}
      <div class="col-lg-6 mb-4">
        <div class="p-4 border rounded">
          <div class="row">
            <div class="col-md-3 mb-4 mb-md-0">
              <img alt="{{ docente[1].name }}" src="{{site.baseurl}}/{{ docente[1].avatar }}" class="rounded-circle" height="80" width="80">
            </div>
            <div class="col-md-9">
              <h6 class="text-dark mb-0"> {{ docente[1].nombre }} </h6>
              <div class="excerpt">{{ docente[1].intereses }}</div>
              <div class="icon-block mt-3 d-flex justify-content-between">
                <div>
                  <a target="_blank" href="mailto:{{ docente[1].email }}">
                    <i class="fa fa-envelope text-muted" aria-hidden="true"></i>
                  </a> &nbsp;
                  {% if docente[1].site %}
                    <a target="_blank" href="{{ docente[1].site }}">
                      <i class="fa fa-globe text-muted" aria-hidden="true"></i>
                    </a> &nbsp;
                  {% endif %}
                  {% if docente[1].twitter %}
                    <a target="_blank" href="{{ docente[1].twitter }}">
                      <i class="fab fa-twitter text-muted" aria-hidden="true"></i>
                    </a> &nbsp;
                  {% endif %}
                  {% if docente[1].instagram %}
                    <a target="_blank" href="{{ docente[1].instagram }}">
                      <i class="fab fa-instagram text-muted" aria-hidden="true"></i>
                    </a> &nbsp;
                  {% endif %}
                  {% if docente[1].posts %}
                    <a href="{{site.baseurl}}/author-{{docente[1].posts}}.html">
                      <i class="fa fa-user-circle text-muted" aria-hidden="true"></i>
                      <!-- <small class="d-inline-block mt-1 mb-3 font-weight-normal">(View Posts)</small> -->
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>

  <!-- ADJUNTOS -->
  <div style="padding: 10px 0px">
    <h5 class="font-weight-bold spanborder"><span>Profesores Adjuntos</span></h5>
    <div class="row" style="padding-bottom: 10px">
    {% for docente in site.data.docentes %}
      {% if docente[1].cargo == "PAD" %}
      <div class="col-lg-6 mb-4">
        <div class="p-4 border rounded">
          <div class="row">
            <div class="col-md-3 mb-4 mb-md-0">
              <img alt="{{ docente[1].name }}" src="{{site.baseurl}}/{{ docente[1].avatar }}" class="rounded-circle" height="80" width="80">
            </div>
            <div class="col-md-9">
              <h6 class="text-dark mb-0"> {{ docente[1].nombre }} </h6>
              <div class="excerpt">{{ docente[1].intereses }}</div>
              <div class="icon-block mt-3 d-flex justify-content-between">
                <div>
                  <a target="_blank" href="mailto:{{ docente[1].email }}">
                    <i class="fa fa-envelope text-muted" aria-hidden="true"></i>
                  </a> &nbsp;
                  {% if docente[1].site %}
                    <a target="_blank" href="{{ docente[1].site }}">
                      <i class="fa fa-globe text-muted" aria-hidden="true"></i>
                    </a> &nbsp;
                  {% endif %}
                  {% if docente[1].twitter %}
                    <a target="_blank" href="{{ docente[1].twitter }}">
                      <i class="fab fa-twitter text-muted" aria-hidden="true"></i>
                    </a> &nbsp;
                  {% endif %}
                  {% if docente[1].instagram %}
                    <a target="_blank" href="{{ docente[1].instagram }}">
                      <i class="fab fa-instagram text-muted" aria-hidden="true"></i>
                    </a> &nbsp;
                  {% endif %}
                  {% if docente[1].posts %}
                    <a href="{{site.baseurl}}/author-{{docente[1].posts}}.html">
                      <i class="fa fa-user-circle text-muted" aria-hidden="true"></i>
                      <!-- <small class="d-inline-block mt-1 mb-3 font-weight-normal">(View Posts)</small> -->
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>

  <!-- JTPs -->
  <div style="padding: 10px 0px">
    <h5 class="font-weight-bold spanborder"><span>Jefes de Trabajos Prácticos</span></h5>
    <div class="row" style="padding-bottom: 10px">
    {% for docente in site.data.docentes %}
      {% if docente[1].cargo == "JTP" %}
      <div class="col-lg-6 mb-4">
        <div class="p-4 border rounded">
          <div class="row">
            <div class="col-md-3 mb-4 mb-md-0">
              <img alt="{{ docente[1].name }}" src="{{site.baseurl}}/{{ docente[1].avatar }}" class="rounded-circle" height="80" width="80">
            </div>
            <div class="col-md-9">
              <h6 class="text-dark mb-0"> {{ docente[1].nombre }} </h6>
              <div class="excerpt">{{ docente[1].intereses }}</div>
              <div class="icon-block mt-3 d-flex justify-content-between">
                <div>
                  <a target="_blank" href="mailto:{{ docente[1].email }}">
                    <i class="fa fa-envelope text-muted" aria-hidden="true"></i>
                  </a> &nbsp;
                  {% if docente[1].site %}
                    <a target="_blank" href="{{ docente[1].site }}">
                      <i class="fa fa-globe text-muted" aria-hidden="true"></i>
                    </a> &nbsp;
                  {% endif %}
                  {% if docente[1].twitter %}
                    <a target="_blank" href="{{ docente[1].twitter }}">
                      <i class="fab fa-twitter text-muted" aria-hidden="true"></i>
                    </a> &nbsp;
                  {% endif %}
                  {% if docente[1].instagram %}
                    <a target="_blank" href="{{ docente[1].instagram }}">
                      <i class="fab fa-instagram text-muted" aria-hidden="true"></i>
                    </a> &nbsp;
                  {% endif %}
                  {% if docente[1].posts %}
                    <a href="{{site.baseurl}}/author-{{docente[1].posts}}.html">
                      <i class="fa fa-user-circle text-muted" aria-hidden="true"></i>
                      <!-- <small class="d-inline-block mt-1 mb-3 font-weight-normal">(View Posts)</small> -->
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>

  <!-- AUXILIARES -->
  <div style="padding: 10px 0px">
    <h5 class="font-weight-bold spanborder"><span>Auxiliares</span></h5>
    <div class="row" style="padding-bottom: 10px">
    {% for docente in site.data.docentes %}
      {% if docente[1].cargo == "AUX" %}
      <div class="col-lg-6 mb-4">
        <div class="p-4 border rounded">
          <div class="row">
            <div class="col-md-3 mb-4 mb-md-0">
              <img alt="{{ docente[1].name }}" src="{{site.baseurl}}/{{ docente[1].avatar }}" class="rounded-circle" height="80" width="80">
            </div>
            <div class="col-md-9">
              <h6 class="text-dark mb-0"> {{ docente[1].nombre }} </h6>
              <div class="excerpt">{{ docente[1].intereses }}</div>
              <div class="icon-block mt-3 d-flex justify-content-between">
                <div>
                  <a target="_blank" href="mailto:{{ docente[1].email }}">
                    <i class="fa fa-envelope text-muted" aria-hidden="true"></i>
                  </a> &nbsp;
                  {% if docente[1].site %}
                    <a target="_blank" href="{{ docente[1].site }}">
                      <i class="fa fa-globe text-muted" aria-hidden="true"></i>
                    </a> &nbsp;
                  {% endif %}
                  {% if docente[1].twitter %}
                    <a target="_blank" href="{{ docente[1].twitter }}">
                      <i class="fab fa-twitter text-muted" aria-hidden="true"></i>
                    </a> &nbsp;
                  {% endif %}
                  {% if docente[1].instagram %}
                    <a target="_blank" href="{{ docente[1].instagram }}">
                      <i class="fab fa-instagram text-muted" aria-hidden="true"></i>
                    </a> &nbsp;
                  {% endif %}
                  {% if docente[1].posts %}
                    <a href="{{site.baseurl}}/author-{{docente[1].posts}}.html">
                      <i class="fa fa-user-circle text-muted" aria-hidden="true"></i>
                      <!-- <small class="d-inline-block mt-1 mb-3 font-weight-normal">(View Posts)</small> -->
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>

</div>
