<!-- <li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/index.html">inicio</a>
</li> -->
<li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/institucional.html">institucional</a>
</li>
<li class="dropdown">
	<a class="nav-link" data-toggle="dropdown" href="#">integrantes<span></span></a>
	<ul class="dropdown-menu">
		<li><a class="nav-link" href="{{site.baseurl}}/docentes.html">docentes</a></li>
		<li><a class="nav-link" href="{{site.baseurl}}/conicet.html">conicet</a></li>
	</ul>
</li>
<li class="dropdown">
	<a class="nav-link" data-toggle="dropdown" href="#">académica<span></span></a>
	<ul class="dropdown-menu">
		<li><a class="nav-link" href="{{site.baseurl}}/ingresantes.html">ingresantes</a></li>
		<li><a class="nav-link" href="{{site.baseurl}}/grado.html">grado</a></li>
		<li><a class="nav-link" href="{{site.baseurl}}/posgrado.html">posgrado</a></li>
	</ul>
</li>
<!-- <li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/grado.html">grado</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/posgrado.html">posgrado</a>
</li> -->
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/grupos.html">investigación</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/extension.html">extensión</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/posts.html">difusión</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/contacto.html">contacto</a>
</li>
